# Ignore Database Extension
*.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal

# Ignore Debug and Release Builds
/Banking-System-Solution/Banking-System/Debug
/Banking-System-Solution/Debug
/Banking-System-Solution/x64/Release
/Banking-System-Solution/Banking-System/x64/Release

/.vs

# Ignore files inside vs folder
/Banking-System-Solution/.vs/Banking-System-Solution/v16/

# Credits to https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app